h1{
    margin-left: 20px;
}
.container{
    margin: auto;
}
img{
    width: 100%;
    height: auto;
    margin-bottom: 10px;
    margin-top: 10px;
}
.notHidden:hover{
    opacity: 0.7;
    box-shadow: 2px 2px 2px;
}
.notHidden{
    border: solid 4px lightgray;
}
.row{
    margin: auto;
}

.container2{
    position: absolute;
    top: 80px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
}
.image-wrapper{
    position: relative;
    top: 0px;
    width: 90%;
    margin-left: auto;
    margin: auto;
}
.bigImage{
    position: relative;
    top: 0px;
    width: 100%;
    height: auto;
    margin-left: auto;
    display: none;
    border: solid 4px pink;
}
.btn{
    display: none;
    position: absolute;
    z-index: 10;
}
#left{
    left: 25px;
    top: 400px;
    border: solid 2px black;
}
#right{
    right: 25px;
    top: 400px;
    border: solid 2px black;
}
#exit{
    top: 10px;
    left: 25px;
    border: solid 2px black;
}